.auth__header {
    width: 396px;
    margin: 0 auto;
    padding-top: 70px;
}

.auth__logo-img {
    width: 38px;
    height: 38px;
}

.auth__title {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 38px 0 40px;
}

.auth {
    padding-bottom: 70px;
}

.auth__form {
    margin: 0 auto;
    width: 396px;
    display: flex;
    flex-direction: column;
}

.auth__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
}

.auth__input {
    padding: 0;
    height: 32px;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    background-color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.auth__input:focus {
    background-color: inherit;
    outline-style: none;
    border-bottom: 1px solid #3456F3;
}

.auth__input-error {
    height: 24px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.input-password {
    color: #EE3465;
}

.auth__submit-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .auth__header {
        padding-top: 232px;
    }

    .auth {
        padding-bottom: 232px;
    }
}

@media screen and (max-width: 450px) {
    .auth__header {
        width: 260px;
    }
    .auth__form {
        width: 260px;
    }
    .auth__header {
        padding-top: 56px;
        text-align: center;
    }

    .auth__logo-img {
        margin: 0 auto;
    }

    .auth__title {
        padding-top: 47px;
        padding-bottom: 78px;
    }
}