.popup-menu {
    position: fixed;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.popup-menu__body {
    width: 520px;
    background-color: #FAFAFA;
    text-align: right;
    padding-bottom: 90px;
    margin-left: auto;
    min-height: 100vh;
}

.popup-menu__close-button {
    background-image: url(../../images/close-button.svg);
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-top: 23px;
    margin-right: 23px;
    border: none;
    background-color: inherit;
    padding: 0;
    cursor: pointer;
    transition: opacity ease-in-out .3s;
}

.popup-menu__close-button:hover {
    opacity: .8;
}

.popup-menu__nav {
    list-style: none;
    margin: 0 auto;
    text-align: center;
    padding: 78px 0 0;
    text-decoration: none;
}

.popup-menu__list {
    margin-top: 28px;
}

.popup-menu__nav-item {
    text-decoration: none;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: black;
}

.active {
    text-decoration: underline 2px solid #000000;
    text-underline-offset: 9px;
    cursor: auto;
}

.popup-menu__nav-item:hover {
    opacity: .8;
}

.popup-menu-account {
    display: inline-block;
    position: fixed;
    right: 50%;
    left: 50%;
    bottom: 2%;
    margin-left: 70px;
    padding-top: 6px;
    padding-left: 0;
    padding-right: 7px;
}

@media screen and (max-width: 530px) {
    .popup-menu__body {
        width: 100%;
        padding-bottom: 46px;
    }

    .popup-menu__close-button {
        margin-top: 15px;
        margin-right: 13px;
    }

    .popup-menu__nav {
        padding: 74px 0 0;
    }

    .popup-menu__nav-item {
        margin-bottom: 24px;
    }

    .popup-menu__nav-item:hover {
        text-underline-offset: 7px;
    }

    .popup-menu__list {
        margin-top: 24px;
    }

    .popup-menu-account {
        margin: 0;
        bottom: 5%;
        right: 65%;
        left: 35%;
    }
}