.checkbox {
  padding-top: 43px;
  margin-right: 138px;
}

.checkbox__switch {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  position: relative;
  border-radius: 20px;
  width: 36px;
  height: 20px;
  cursor: pointer;
  transition: opacity ease-in-out .3s;
}

.checkbox__switch:hover {
  opacity: .8;
}

.checkbox__switch .checkbox__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EBEBEB;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.checkbox__slider:before {
  position: absolute;
  content: "";
  left: 2px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #F5F5F5F5;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  width: 16px;
  height: 16px;
  top: 10%;
}

.checkbox__input:checked+.checkbox__slider {
  background-color: #2BE080;
}

.checkbox__input:checked+.checkbox__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: #FFFFFF;
}

.checkbox__item {
  margin: 0;
  margin-left: 185px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
}

@media screen and (max-width: 400px) {
  .checkbox {
    padding-bottom: 48px;
    margin-right: 110px;
  }
  .checkbox__item {
    margin-left: 160px;
    font-size: 11px;
    line-height: 164%;
  }
}